<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="tool.apizl.com rewriteTools2" patternSyntax="ECMAScript" stopProcessing="false">
                    <match url="^share_(.*)\.html" ignoreCase="false" />
                    
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="share.php?gid={R:1}[NC]" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>

</httpErrors>
    </system.webServer>
</configuration>